body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: roboto;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #04730a;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(243, 109, 0);
  align-items: center;
  flex-grow: 1;
  width: 90%;
  padding: 10px;
  margin: auto;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(8, 46, 17);
  color: white;
}

.box {
  width: 20%;
  height: 20%;
  margin: auto;
  background-color: rgb(91, 139, 128);
  text-align: center;
  color: white;
}

.container {
  width: 40%;
  height: 50vh;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
  background: #29703b;
  font-family: Arial, sans-serif;
}

nav ul {
  display: flex;
  background: #438048;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {

  padding: 0 10px;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

nav li:hover {
  background-color: rgb(45, 69, 19);
}

label,
#toggle {
  display: none;
}

/* Media Queries Tablette */

@media screen and (max-width: 768px) {

  /* ELEMENT DE PAGE  */

  .container {
    width: 100%;
  }

  .box {
    width: 45%
  }
}

/* Media Queries Smartphone */

@media screen and (max-width: 450px) {

  /* NAV BAR  */
  nav ul {
    display: none;
  }

  label::before {
    content: "☰";
  }

  label {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #toggle:checked~nav label::before {
    content: "x";
  }

  #toggle:checked~nav {
    overflow: visible;
    justify-content: flex-end;
    align-content: end;
  }

  #toggle:checked~nav ul li {
    background-color: rgb(49, 136, 83);
    padding: 10px;
  }

  #toggle:checked~nav ul li:hover {

    background-color: rgb(45, 69, 19);

  }

  #toggle:checked~nav ul {
    display: flex;
    flex-direction: column;
    z-index: 9;
    margin-top: 10vh;
  }


  .box {
    width: 90%
  }


}